/* Estilos para la barra de navegación */
.navbar {
    padding: 2rem;
    background-color: #f5f6f75b; /* Se establece el color de fondo de la barra de navegación */
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Agrega aquí tus estilos específicos para pantallas medianas */
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 992px) {
    /* Agrega aquí tus estilos específicos para pantallas grandes */
}

/* Estilos generales */

html {
    font-size: 22px;
}
body {
    background-color: #f5f6f7 ;
}

main {
    background-color: #F5F6F7;
    overflow-x: hidden !important;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

h2 {
    font-size: 2rem;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    display: block;
    clear: both;
    background-color:#5B5B5B;
}

.seccion-oscura {
    color: white;
    background-color: #1b1b32;
}

.seccion-clara {
    color: black;
    background-color: white;
}

.section-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik dirt', cursive;
}

.seccion-texto {
    margin: 10px;
}

.texto-negro {
    color: #0a0a23;
}

.texto-blanco {
    color: white;
}

.section-descripcion {
    font-size: 1.2rem;
    color:#584e4e ;
}

table, tr, th, td, caption {
    background-color: #0f0f2b;
    color: white !important;
    border: 2px solid #d636363f !important;
    font-family: 'Courier New', Courier, monospace !important;
    border-collapse: collapse;
    padding: 0.5rem;
    margin: 0.5rem;
}

td:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.03);
}

/* Estilos para los elementos de navegación */
.nav-item {
    border: 1px solid #000;
    border-radius: 10px;
    margin-left: 150px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-item:hover {
    background-color: #000;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar .nav-item :hover {
    color: white;
}

/* hero */
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
    margin-bottom: 5px;
}

.hero-principal {
    padding: 1rem;
    margin: 1px;
}

.hero-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.hero-inferior-img {
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(75, 38, 38, 0.466);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

.hero-inferior {
    margin-bottom: 15px;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615141;
}

/* menu */
.experiencia {
    padding: 40px 40px 60px 40;
    background-color: #155fa811;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
    transition: 0.6s ease-in;
}

.experiencia .columna:hover {
    transition: 0.3s ease-in;
    border: 2px solid #1b1b1a;
    background-color: rgba(75, 38, 38, 0.466);
    color: wheat;
}

.experiencia span {
    background-color: #5B5B5B !important;
}

.experiencia span:hover {
    transition: 0.3s ease-in;
    transform: scale(1.1);
}

/*about*/
.sobre-mi {
    height: 500px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #1b1b32;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

.seccion-texto {
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

/* contact */
/* form*/

.cb {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.ccontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.ccontainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/cctaco.webp) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.ccontact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.cright {
    padding: 25px 40px;
}

.cleft {
    height: 100%;
    background: url(/img/cctaco.webp) no-repeat center;
    background-size: cover;
}

.ch2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.ch2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color:rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
}

.area {
    min-height: 150px;
}

.cbtn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

.cbtn:hover {
    background-color: #27ae60;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

@media screen and (max-width: 880px) {
    .ccontact-box {
        grid-template-columns: 1fr;
    }
    .cleft {
        height: 200px;
    }
}

/* gente comiendo(carousel) */
.carousel-item img {
    width: max-content;
    height: 350px;
}

/* footer */
footer {
    background-color: #0D0D20;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px 30px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIcons a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #0c0c308c;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

/* events */
/*mevents*/
.overflow-x-hidden {
    overflow-x: hidden;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.proyecto img {
    padding: 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto {
    position: relative;
    margin: 4px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.overlay:hover {
    opacity: 1;
}

.overlay p {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

/* orga */
#orgevents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    th:nth-of-type(3),
    td:nth-of-type(3) {
        display: none;
    }
}


/*partners*/
.partners-h3 {
    background-color: #0c0c0c;
    color: #ffffff;
    width: 100% !important;
    text-align: center !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.partners-h3:hover {
    background-color: #4d4d4d;
    color: #f2f2f2 !important;
    width: 100% !important;
    text-align: center !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* cel carousel */
.celebrities-carousel {
    margin-top: 10px;
    margin-bottom: 10px;
}

#carouselExampleAutoplaying {
    width: 100% !important;
    height: 100% !important;
}

/*logos carousel */
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos-carousel {
    display: flex;
}

.logos {
    box-sizing: border-box;
    overflow: hidden;
    padding: 60px 0;
    background-color: white !important;
    white-space: nowrap !important;
    width: 100% !important;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    white-space: nowrap;
    animation: 20s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 40px !important;
}

@media screen and (max-width: 700px) {
    .logos-slide img {
        height: 20px;
        margin: 0 10px !important;
    }
}

/* movie */
.movie-container {
    background: linear-gradient(45deg, blueviolet, lightgreen);
    padding: 15px 9%;
    padding-bottom: 100px;
}

.movie-container .movie-heading {
    text-align: center;
    padding: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}

.movie-container .movie-box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    grid-template-rows: repeat(2, auto); /* Dos filas de altura automática */
    gap: 15px;
}

.movie-container .movie-box-container .movie-box {
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.movie-container .movie-box-container .movie-box img {
    height: 160px;
    width: 60%;
}

.movie-container .movie-box-container .movie-box h3 {
    color: #444;
    font-size: 22px;
    padding: 10px 0;
}

.movie-container .movie-box-container .movie-box p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}

.movie-container .movie-box-container .movie-box .btn {
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.movie-container .movie-box-container .movie-box .btn:hover {
    letter-spacing: 1px;
}

.movie-container .movie-box-container .movie-box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .movie-container .movie-box-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajustamos el tamaño de las columnas */
    }

    .movie-container .movie-box-container .movie-box img {
        height: auto; /* Permitimos que la altura de la imagen se ajuste automáticamente */
        width: 100%; /* Ajustamos el ancho de la imagen al 100% */
    }
}
