/* Global Styles */
* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: rgb(133, 84, 84);
    margin: 0px;
}

header {
    background-color: antiquewhite;
    text-align: center;
    padding: 25px;
}

main {
    margin-right: 20px;
    margin-left: 20px;
}

aside {
    width: 20%;
    float: left;
    padding: 10px;
}
section {
    width: 40%;
    float: left;
    padding: 10px;
}

article {
    width: 40%;
    float: left;
    padding: 10px;
}

footer {
    background-color: antiquewhite;
    text-align: center;
    padding: 25px;
    display: block;
    clear: both;
}

@media  screen and (min-width: 600px) {
    aside, section, article {
        width: 100%;
    }
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
} 

h1 {
    text-align: center;
}

h2 {
    color:rgb(163, 109, 109); 
}

.navbar {
    background-color: #ccc;
    overflow: hidden; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left; 
}

.navbar a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: #333;
}

.navbar a:hover {
    background-color: #555;
    color: #fff;
}

summary {
    text-decoration:underline;
}

#contact p {
    text-align: center;
}

#form p {
    text-align: left;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

tfoot td{
    text-align: center;
}

.footer a {
    text-decoration: none;
    display: block;
    color: #333;
}

.footer a:hover {
    background-color: #555;
    color: #fff;
}