$color-fondo: #f5f6f7;
$color-texto: #615141;
$color-fondo-inferior: rgba(75, 38, 38, 0.466);
$color-sombra: rgba(0, 0, 0, 0.2);
$color-hover: #5B5B5B;
$color-hover-transicion: 0.3s ease-in;
$color-fondo-menu: #155fa811;
$color-borde-menu: #8080804d;
$color-borde-hover-menu: #1b1b1a;
$color-texto-hover-menu: wheat;
$color-fondo-carousel: #5B5B5B;
$altura-carousel: 350px;
$color-fondo-sobre: #1b1b32;
$altura-sobre: 500px;
$font-size-texto: 20px;
$font-family-texto: 'Share Tech Mono', monospace;
$duration: 2s; 